numpy
pandas
matplotlib
seaborn
ydata-profiling # can be removed from requirements before deployment
plotly
ppscore # can be removed from requirements before deployment
kaggle
streamlit
feature-engine
imbalanced-learn
scikit-learn
xgboost
yellowbrick # can be removed from requirements before deployment
Pillow # can be removed from requirements before deployment